<!DOCTYPE html>
    <html>
        <head>
            <title>Page Title</title>
        </head>
        <body>
            <input type="text" id="userId"/><br>
            <input type="text"id="userPw"/><br>
            <button id="loginBtn">login</button>
        </body>
        <script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
        <script>
            console.log('test');
            $("#loginBtn").click(function(){
                var userIdInput = $("#userId").val();
                var userPwInput = $("#userPw").val();
                console.log('사용자의 입력값은 :' ,userId, userPw);
                $.ajax({
                    url:'/inputTest',
                    type:'POST',
                    data:{
                        userIdBody : userIdInput,
                        userPwBody : userPwInput
                    },
                    success:function(data){
                        console.log(data);
                    }
                })
            })
        </script>
</html>